<template>

	<div id="patient-consultation">

		<div class="row">
			<div class="col-md-1">
				<doctors-sidebar activePage = 'Patient Consultation'/>
			</div>
			<div class="col-md-8">
				<div class="dashboard-content-wrapper">
					<div class="dashboard-navigation-bar">
						<i class="fa fa-comment" style="font-size: 25px;"></i>
						<p class="dashboard-navigation-active">Patient Consultation</p>
						<div class="dashboard-navigation-account">
							<p>{{ name }}</p>
							<img :src="'/assets/images/user_icon.png'" class="account-image">
							<p v-on:click.prevent="logout" style="font-weight: 600;">Logout</p>
						</div>
					</div>
					<div class="employees-account-wrapper">
						<div class="table-controls">
							<div class="table-controls-button" style="height: 35px;"></div>
							<div class="table-controls-search">
								<i class="fa fa-search table-search-icon"></i>
								<input type="text" class="form-control table-search" v-model="search" placeholder="Search Patient">
							</div>
						</div>	
						<div class="table-wrapper">
							<p class="table-header">Manage Patient Consultations</p>
							<div class="table-responsive table-container" style="overflow-x: auto;">
             		 			<table class="table table-hover" style="color: #D9D9D9;">
                					<thead>
                  						<tr>
						                    <th scope="col">Patient Name</th>
						                    <th scope="col">Consultation Date</th>
						                    <th scope="col">Status</th>
						                    <th scope="col">Actions</th>
                  						</tr>
                					</thead>
                					<tbody>
                  						<div class="spinner-grow loading text-primary" role="status" v-if="isLoading"> 
                    						<span class="sr-only">Loading...</span>
                  						</div>
                  						<tr v-for="(consultations, i) in filterConsultations" :key="i">
	                    					<td v-if="!isLoading">{{ consultations.patient.first_name }} {{ consultations.patient.middle_name }} {{ consultations.patient.last_name }}</td>
	                    					<td v-if="!isLoading">{{ consultations.date }}</td>
	                    					<td v-if="!isLoading">{{ consultations.status }}</td>
	                    					<td v-if="!isLoading">
	                    						<a href="#" class="button-view" v-on:click="details = consultations.details, add.patient_id = consultations.patient_id, add.employee_id = id, add.details = consultations.details, update.id = consultations.id, updateIndex = consultations.id " @click="$bvModal.show('manageConsultationModal')"><i class="fa fa-clipboard"></i></a>
                             					<a href="#" class="button-delete" v-on:click="deleteId = patients.id" @click="$bvModal.show('deletePatientModal')"><i class="fa fa-trash-o"></i></a>
	                    					</td>
                  						</tr>
                					</tbody>
              					</table>
            				</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<doctors-time-sidebar />
			</div>
		</div>

		<!-- Modals -->

		<b-modal id="manageConsultationModal" class="modal-body" title="Manage Consultation Ticket" hide-footer>
     		<div class="default-modal-wrapper" style="padding: 5px;">
     			<div class="container" style="padding:0px; height: 100px; overflow-x: auto;">
        	  		<h5>Patient Complaint</h5>
        	  		<p>{{ details }}</p>
        	  	</div>
        	  	<div class="container" style="padding:0px;">
        	  		<h5>Prescription Details</h5>
        	  		<p class="patient-details-label">Initial Diagnosis</p>
        	  		<input type="text" name="diagnosis" id="diagnosis" class="default-modal-textbox" v-model="add.diagnosis" autocomplete="off" placeholder="Enter Initial Diagnosis" style="padding: 5px;">
        	  		<p class="patient-details-label">Prescription</p>
        	  		<textarea name="prescription" id="prescription" class="default-modal-textbox" v-model="add.prescription" autocomplete="off" placeholder="Enter Prescription" style="padding: 5px;"></textarea>
        	  	</div>
        	  	<div class="row" style="padding: 15px;">
        	  		<button class="default-button" v-on:click="addCheckupHistory()">Save Checkup</button>
        	  	</div>
     		</div>
    	</b-modal>
		
	</div> 
 
</template>

<script>
import DoctorsSidebar from '../navigation/DoctorsSidebar';
import DoctorsTimeSidebar from '../navigation/DoctorsTimeSidebar';
import {toast} from '../../assets/toastification/toast'
import { mapActions, mapState, mapGetters } from 'vuex';

	export default{
		name: 'patient-consultation',
		mixins: [toast],
		components: {DoctorsSidebar, DoctorsTimeSidebar},
		data(){

			return{

				add:{
					patient_id: '',
					employee_id: '',
					diagnosis: '',
					details: '',
					prescription: ''
				},
				update:{
					id: '',
					status: 'Closed'
				},
				updateIndex: '',
				details: '',
				search: '',
				isLoading: false
			}
		},
		async mounted(){

			document.title = "CCCS V.1.0.0 | Patient Consultation"
			this.getPatients();
			this.isLoading = true
   				await this.getConsultations()
   				.then((response) =>  {
      				this.isLoading = false
    			});

		},
		methods: {
			...mapActions('auth', ['logoutUser', 'checkUser']),
			...mapActions('consultations', ['getConsultations', 'getPatients', 'updateConsultation']),
			...mapActions('checkup', ['addCheckup']),
			...mapGetters('auth', ['getUserData']),
   			...mapGetters('consultations', ['getConsultationData']),

			async logout(){
     			const res = await this.logoutUser()
     			if(res.status == 200){
      				this.$router.push('/staff_login')
                    
     			}
   			},

   			async checkAuth() {
     			await this.checkUser()

  			},

  			async addCheckupHistory() {
      			const res = await this.addCheckup(this.add)
      			if(res.status == 201){
      				this.updateConsultationStatus();
     		 		this.clearAddFields();
     		 		this.$bvModal.hide('manageConsultationModal');

      			}else{
      				this.showErrorToast('[ERROR]: There was an error, try again');

      			}

    		},

    		async updateConsultationStatus(){
      			const res = await this.updateConsultation({data: {...this.update}, index: this.updateIndex})
      			if(res.status == 201){
					this.showSuccessToast('Consultation ticket is now closed!');
     		 		this.getConsultationData();

      			}else if(res.status == 404){
      				this.showErrorToast('[ERROR]: Consultation ticket not found!');

      			}else{
      				this.showError(res.data);
      			}

    		},

    		clearAddFields() {
      			this.add.patient_id = "";
      			this.add.employee_id = "";
      			this.add.diagnosis = "";
      			this.add.prescription = "";
      			this.add.details = "";
      			this.add.date = "";
    		},

    		showError(data){
                for (const key of Object.keys(data)) {
                    window.setInterval(this.showErrorToast(data[key][0]), 2000); 
                }
            }

		},
		computed:{
			...mapState('auth', ['id', 'name']),
			...mapState('consultations', ['consultations', 'patients']),

			filterConsultations() {
      			return this.consultations.filter((consultations) => {
        			return (
			        	consultations.patient.first_name.match(this.search) ||
			        	consultations.patient.last_name.match(this.search) || 
			        	consultations.status.match(this.search)
	
        			);
      			});
    		}

		}

	}
</script>