<template>

	<div id="patient-records">

		<div class="row">
			<div class="col-md-1">
				<doctors-sidebar activePage = 'Patient Records'/>
			</div>
			<div class="col-md-8">
				<div class="dashboard-content-wrapper">
					<div class="dashboard-navigation-bar">
						<i class="fa fa-clipboard" style="font-size: 25px;"></i>
						<p class="dashboard-navigation-active">Patient Records</p>
						<div class="dashboard-navigation-account">
							<p>{{ name }}</p>
							<img :src="'/assets/images/user_icon.png'" class="account-image">
							<p v-on:click.prevent="logout" style="font-weight: 600;">Logout</p>
						</div>
					</div>
					<div class="employees-account-wrapper">
						<div class="table-controls">
							<div class="table-controls-button" style="height: 35px;"></div>
							<div class="table-controls-search">
								<i class="fa fa-search table-search-icon"></i>
								<input type="text" class="form-control table-search" v-model="search" placeholder="Search Patient">
							</div>
						</div>	
						<div class="table-wrapper">
							<p class="table-header">Manage Patient Records</p>
							<div class="table-responsive table-container" style="overflow-x: auto;">
             		 			<table class="table table-hover" style="color: #D9D9D9;">
                					<thead>
                  						<tr>
						                    <th scope="col">First Name</th>
						                    <th scope="col">Middle Name</th>
						                    <th scope="col">First Name</th>
						                    <th scope="col">Address </th>
						                    <th scope="col">Contact</th>
						                    <th scope="col">Actions</th>
                  						</tr>
                					</thead>
                					<tbody>
                  						<div class="spinner-grow loading text-primary" role="status" v-if="isLoading"> 
                    						<span class="sr-only">Loading...</span>
                  						</div>
                  						<tr v-for="(patients, i) in filterPatients" :key="i">
	                    					<td v-if="!isLoading">{{ patients.first_name }}</td>
	                    					<td v-if="!isLoading">{{ patients.middle_name }}</td>
	                    					<td v-if="!isLoading">{{ patients.last_name }}</td>
	                    					<td v-if="!isLoading">{{ patients.address }}</td>
	                    					<td v-if="!isLoading">{{ patients.contact }}</td>
	                    					<td v-if="!isLoading">
	                    						<a href="#" class="button-view" v-on:click="editIndex = i; view = {...patients}, edit = {...patients}" @click="$bvModal.show('viewPatientModal')"><i class="fa fa-eye"></i></a>
                             					<a href="#" class="button-delete" v-on:click="deleteId = patients.id" @click="$bvModal.show('deletePatientModal')"><i class="fa fa-trash-o"></i></a>
	                    					</td>
                  						</tr>
                					</tbody>
              					</table>
            				</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<doctors-time-sidebar />
			</div>
		</div>

		<!-- Modals -->

		<b-modal id="viewPatientModal" class="modal-body" title="View Patient Details" hide-footer>
     		<div class="default-modal-wrapper" style="padding: 5px;">
     			<div class="modal-patient-details">
        	  		<div class="row">
        	  			<div class="col-md-6">
        	  				<p class="patient-details-label">Patient Name</p>
        	  				<p class="patient-details-text">{{ edit.first_name + ' ' + edit.middle_name + ' ' + edit.last_name}}</p>
        	  				<p class="patient-details-label">Home Address</p>
        	  				<p class="patient-details-text">{{ edit.address}}</p>
        	  				<p class="patient-details-label">Patient Age</p>
        	  				<p class="patient-details-text">{{ edit.age + ' years old'}}</p>
        	  				<p class="patient-details-label">Date of Birth</p>
        	  				<p class="patient-details-text">{{ edit.birthday }}</p>
        	  				<p class="patient-details-label">Gender</p>
        	  				<p class="patient-details-text">{{ edit.gender }}</p>
        	  				<p class="patient-details-label">Contact Number</p>
        	  				<p class="patient-details-text">{{ edit.contact }}</p>
        	  			</div>
        	  			<div class="col-md-6">
        	  				<p class="patient-details-label">Height</p>
        	  				<p class="patient-details-text">{{ edit.height + 'cm'}}</p>
        	  				<p class="patient-details-label">Weight</p>
        	  				<p class="patient-details-text">{{ edit.weight + 'lbs'}}</p>
        	  				<p class="patient-details-label">Blood Type</p>
        	  				<p class="patient-details-text">{{ edit.blood_type }}</p>
        	  				<p class="patient-details-label">Condition</p>
        	  				<p class="patient-details-text">{{ edit.condition }}</p>
        	  				<p class="patient-details-label">Last Checkup</p>
        	  				<p class="patient-details-text">{{ edit.last_checkup }}</p>
        	  			</div>
        	  		</div>
        	  	</div>
        	  	<div class="modal-edit-patient-details">
        	  		<h5>Edit Patient Details</h5>
        	  		<p class="patient-details-label">First Name</p>
        	  		<input type="text" name="first_name" id="first_name" class="default-modal-textbox" v-model="edit.first_name" autocomplete="off" placeholder="First Name" style="padding: 5px;">
        	  		<p class="patient-details-label">Middle Name</p>
        	  		<input type="text" name="middle_name" id="middle_name" class="default-modal-textbox" v-model="edit.middle_name" autocomplete="off" placeholder="Middle Name" style="padding: 5px;">
        	  		<p class="patient-details-label">Last Name</p>
        	  		<input type="text" name="last_name" id="last_name" class="default-modal-textbox" v-model="edit.last_name" autocomplete="off" placeholder="Last Name" style="padding: 5px;">
        	  		<div class="row">
        	  			<div class="col-md-6">
        	  				<p class="patient-details-label">Age</p>
        	  				<input type="text" name="age" id="age" class="default-modal-textbox" v-model="edit.age" autocomplete="off" placeholder="Patient Age" style="padding: 5px;">
        	  			</div>
        	  			<div class="col-md-6">
        	  				<p class="patient-details-label">Gender</p>
        	  				<select id="gender" class="default-modal-textbox" v-model="edit.gender" style="padding: 5px;">
								<option value="" disabled="true" selected="true">Gender</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
        	  			</div>
        	  		</div>
        	  		<p class="patient-details-label">Contact Number</p>
        	  		<input type="text" name="contact" id="contact" class="default-modal-textbox" v-model="edit.contact" autocomplete="off" placeholder="Contact Number" style="padding: 5px;">
        	  		<div class="row">
        	  			<div class="col-md-6">
        	  				<p class="patient-details-label">Height (in cm)</p>
        	  				<input type="text" name="height" id="height" class="default-modal-textbox" v-model="edit.height" autocomplete="off" placeholder="Height" style="padding: 5px;">
        	  			</div>
        	  			<div class="col-md-6">
        	  				<p class="patient-details-label">Weight (in lbs)</p>
        	  				<input type="text" name="weight" id="weight" class="default-modal-textbox" v-model="edit.weight" autocomplete="off" placeholder="Weight" style="padding: 5px;">
        	  			</div>
        	  		</div>
        	  	</div>
        	  	<div class="row" style="padding: 15px;">
        	  		<button class="default-button" v-on:click="editPatientInfo()">Save Changes</button>
        	  	</div>
     		</div>
    	</b-modal>

    	<b-modal id="deletePatientModal" class="modal-body" title="Delete Patient Information?" hide-footer>
            <div class="default-modal-wrapper">
                <div class="row">
                    <h5>Delete patient information? This can't be unchanged.</h5>
                </div>
                <br>
                <div class="row">
                    <button class="default-button" v-on:click="deletePatientInfo()">Proceed</button>
                </div>
            </div>
        </b-modal>
		
	</div> 
 
</template>

<script>
import DoctorsSidebar from '../navigation/DoctorsSidebar';
import DoctorsTimeSidebar from '../navigation/DoctorsTimeSidebar';
import {toast} from '../../assets/toastification/toast'
import { mapActions, mapState, mapGetters } from 'vuex';

	export default{
		name: 'patient-records',
        mixins: [toast],
		components: {DoctorsSidebar, DoctorsTimeSidebar},
		data(){

			return{
				view:[],
				edit:{
					first_name: '',
					middle_name: '',
					last_name: '',
					age: '',
					gender: '',
					contact: '',
					height: '',
					weight: '',
				},
				search: '',
				editIndex: '',
                deleteId: '',
				isLoading: false
			}
		},
		async mounted(){

			document.title = "CCCS V.1.0.0 | Patient Records"
			this.isLoading = true
   				await this.getPatients()
   				.then((response) =>  {
      				this.isLoading = false
    			})
		},
		methods: {
			...mapActions('auth', ['logoutUser', 'checkUser']),
			...mapActions('patients', ['getPatients', 'updatePatient', 'deletePatient']),
   			...mapGetters('patients', ['getPatientData']),

			async logout(){
     			const res = await this.logoutUser()
     			if(res.status == 200){
      				this.$router.push('/staff_login')
                    
     			}
   			},

   			async checkAuth() {
     			await this.checkUser()

  			},

  			async editPatientInfo(){
      			const res = await this.updatePatient({data: {...this.edit}, index: this.editIndex})
      			if(res.status == 201){
					this.showSuccessToast('Patient information updated successfully!');
     		 		this.clearEditFields();
     		 		this.getPatients();
     		 		this.$bvModal.hide('viewPatientModal');

      			}else if(res.status == 404){
      				this.showErrorToast('[ERROR]: Patient details not found!');
      			}else{
                    this.showErrorToast(res.data);
                }

    		},

            async deletePatientInfo() {
                const res = await this.deletePatient(this.deleteId);
                if(res.status == 201){
                    this.showSuccessToast('Patient information deleted successfully!');
                    this.getPatients();
                    this.$bvModal.hide('deletePatientModal');

                }else if(res.status == 404){
                    this.showErrorToast('[ERROR]: Patient details not found!');
                }else{
                    this.showErrorToast(res.data);
                }
            },

    		clearEditFields() {
      			this.edit.first_name = "";
      			this.edit.middle_name = "";
      			this.edit.last_name = "";
      			this.edit.age = "";
      			this.edit.contact = "";
      			this.edit.height = "";
      			this.edit.weight = "";
    		},

            showError(data){
                for (const key of Object.keys(data)) {
                    window.setInterval(this.showErrorToast(data[key][0]), 2000); 
                }
            }

		},
		computed: {
			...mapState('auth', ['id', 'name']),
			...mapState('patients', ['patients']),

    		filterPatients() {
      			return this.patients.filter((patients) => {
        			return (
			        	patients.first_name.match(this.search) ||
			        	patients.last_name.match(this.search)
	
        			);
      			});
    		}

		}

	}
</script>