<template>

	<div id="home">
		<div class="row">
			<div class="col-md-6">
				<img :src="'/assets/images/landing_page.png'" class="landing-page-image">
			</div>
			<div class="col-md-6">
				<div class="text-wrapper">
					<p class="landing-page-tagline">Consultations was never been this easy.</p>

					<!-- Login Buttons-->
					<p class="landing-page-login-text">Login to an existing account</p>
					
					<router-link to="/patient_login">
						<button class="default-button">Patient Login</button>
					</router-link>
					<router-link to="staff_login">
						<button class="default-alt-button" style="margin-bottom: 25px;">Staff Login</button>
					</router-link>

					<!-- Patient Register Button -->
					<p class="landing-page-login-text">No patient account yet?</p>

					<router-link to="/patient_registration">
						<button class="secondary-button">Register New Account</button>
					</router-link>

				</div>
			</div>
		</div>
	</div> 
 
</template>

<script>

	export default{
		name: 'home',
		mounted(){

			document.title = "CCCS V.1.0.0 | Welcome"
		}

	}
</script>
