<template>
	<div id="main">
		<div class="content">
			<transition 
				:name="transitionName" 
				mode="in-out"	
			>
				<router-view></router-view>
			</transition>
		</div>
	</div> 
 
</template>

<script>
const DEFAULT_TRANSITION = 'fade';
	
	export default{
		name: 'main-app',
		data(){
			return{
				transitionName: DEFAULT_TRANSITION
			}
		},
		created(){
			this.$router.beforeEach((to, from, next) =>{
				let transitionName = to.meta.transitionName || from.meta.transitionName;

				if(transitionName === 'slide'){
					const toDepth = to.path.split('/').length;
					const fromDepth = from.path.split('/').length;
					transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left';
				}

				this.transitionName = transitionName || DEFAULT_TRANSITION;
				
				next();
			})
		}

	}
</script>