<template>
  <div>
   <div class="container-fluid " style="height: 100vh">
    <div class="row h-100 w-100 align-items-center justify-content-center">
     <h1 class="text-primary">404 |<small class="text-secondary"> Not Found</small></h1>
    </div>
   </div>
  </div>
</template>
<script>
export default {
 

}
</script>