<template>

	<div id="patient-login">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="login-logo-wrapper" align="center">
					<img :src="'/assets/images/logo_main.png'" class="login-logo">
				</div>
				<!-- Patient Login Form -->
				<div class="default-form" style="margin-bottom: 100px;">
					<p class="default-form-header">Patient Login</p>
					<p class="default-form-subheader" style="margin-bottom: 50px;">Please login using your patient account.</p>

					<input type="text" name="tbPatientUsername" id="tbPatientUsername" class="default-form-textbox" v-model="login.username" placeholder="Enter your username">
					<input type="password" name="tbPatientPassword" id="tbPatientPassword" class="default-form-textbox" v-model="login.password" placeholder="Enter your password" style="margin-bottom: 50px;">

					<button class="default-button" @click="loginPatient(login)">Login</button>

					<router-link to="patient_registration">
						<button class="secondary-button">Register New Account</button>
					</router-link>
					
				</div>
				<div class="default-footer">
					<p class="default-footer-text">Version 1.0.0</p>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div> 
 
</template>

<script>
import {toast} from '../assets/toastification/toast'
import {mapActions} from 'vuex';

	export default{
		name: 'patient-login',
		mixins: [toast],
		data(){
			return{
				login:{
        			username: '',
        			password: '',
        		},
        		isValidated: false,
        		isLoading: false,
        		emailValid: true,
        		passwordValid: true
			}
		},
		methods:{
			...mapActions('patientauth', ['loginAccount']),

			async loginPatient(login){
				const res = await this.loginAccount(login);
  		 		if(res.status == 200){
  		 			this.showSuccessToast('Welcome, ' + res.data.user.first_name + '!');
        			this.emailValid = true
        			this.passValid = true
        			this.$router.push('/patient/patient_panel')
        			
      			}else if(res.status == 401){
					this.passValid = false
        			this.emailValid = false
        			this.showErrorToast('[Error]: Invalid account credentials!');

      			}else{
                    this.showError(res.data);
                }

  			},

  			showError(data){
                for (const key of Object.keys(data)) {
                    window.setInterval(this.showErrorToast(data[key][0]), 2000); 
                }
            }

		},
		mounted(){
			document.title = "CCCS V.1.0.0 | Patient Login"
		}

	}
</script>