<template>

	<div id="patient-registration">
		<div class="row">
			<div class="col-md-12">
				<div class="login-logo-wrapper" align="center">
					<img :src="'/assets/images/logo_main.png'" class="login-logo" style="width: 20%;">
				</div>
				<!-- Patient Registration Form -->
				<div class="default-form" style="margin-bottom: 20px;">
					<p class="default-form-header">Patient Registration</p>
					<p class="default-form-subheader" style="margin-bottom: 30px;">Register a new account by filling-up the required fields.</p>
					<div>
						<div class="row form-wrapper" style="height: 220px; overflow-x: auto;">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<h5 style="color: #293458;">Account Details</h5>
								<input type="text" name="tbPatientUsername" id="tbPatientUsername" class="default-form-textbox" v-model="add.username" placeholder="Enter your username">
								<input type="password" name="tbPatientPassword" id="tbPatientPassword" class="default-form-textbox" v-model="add.password" placeholder="Enter your password">
								<input type="password" name="tbPatientRePassword" id="tbPatientRePassword" class="default-form-textbox" placeholder="Re-enter your password">
								<br>
								<br>
								<h5 style="color: #293458;">Personal Details</h5>
								<div class="row">
									<div class="col-md-6">
										<input type="text" name="tbFirstName" id="tbFirstName" class="default-form-textbox" v-model="add.first_name" placeholder="First Name">
										<input type="text" name="tbMiddleName" id="tbMiddleName" class="default-form-textbox" v-model="add.middle_name" placeholder="Middle Name">
										<input type="text" name="tbLastName" id="tbLastName" class="default-form-textbox" v-model="add.last_name" placeholder="Last Name">
										<select name="drpGender" id="drpGender" v-model="add.gender" class="default-form-textbox">
											<option value="" disabled="true" selected="true">Gender</option>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</div>
									<div class="col-md-6">
										<input type="text" name="tbAddress" id="tbAddress" class="default-form-textbox" v-model="add.address" placeholder="Address">
										<input type="text" name="tbAge" id="tbAge" class="default-form-textbox" v-model="add.age" placeholder="Age">
										<input type="date" name="dpBirthday" id="dpBirthday" class="default-form-textbox" v-model="add.birthday" placeholder="Birthday">
										<input type="text" name="tbContact" id="tbContact" class="default-form-textbox" v-model="add.contact" placeholder="Contact Number">
									</div>
								</div>
								<br>
								<h5 style="color: #293458;">Health Information</h5>
								<div class="row">
									<div class="col-md-6">
										<input type="text" name="tbHeight" id="tbHeight" class="default-form-textbox" v-model="add.height" placeholder="Height (in cm)">
										<input type="text" name="tbWeight" id="tbWeight" class="default-form-textbox" v-model="add.weight" placeholder="Weight (in lbs)">
										<select name="drpBloodType" id="drpBloodType" class="default-form-textbox" v-model="add.blood_type">
											<option value="" disabled="true" selected="true">Blood Type</option>
											<option value="A+">A+</option>
											<option value="A-">A-</option>
											<option value="B+">B+</option>
											<option value="B-">B-</option>
											<option value="AB+">AB+</option>
											<option value="AB-">AB-</option>
											<option value="O+">O+</option>
											<option value="O-">O-</option>
											<option value="Unknown">Unknown</option>
									</select>
									</div>
									<div class="col-md-6">
										<select name="drpMedCondition" id="drpMedCondition" class="default-form-textbox" v-model="add.condition">
											<option value="" disabled="true" selected="true">Pre-existing Medical Condition (if any)</option>
											<option value="Physically Fit">(None)</option>
											<option value="Asthma">Asthma</option>
											<option value="Hypertension">Hypertension</option>
											<option value="Diabetes">Diabetes</option>
											<option value="Heart Disease">Heart Disease</option>
											<option value="Arthritis">Arthritis</option>
											<option value="Anemia">Anemia</option>
											<option value="Kidney Disease">Kidney Disease</option>
											<option value="Depression">Depression</option>
											<option value="Others">(Others)</option>
										</select>
										<input type="checkbox" name="cbConfirm" id="cbConfirm" class="default-form-checkbox">
										<p class="default-form-checkbox-label" style="font-size: 10px;">I affirm that all information stated here is true and correct.</p>
									</div>
								</div>
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class="row form-wrapper">
							<div class="col-md-3"></div>
							<div class="col-md-6" align="center">
								<button class="secondary-button" v-on:click="matchPassword();" style="margin-bottom: 15px;">Register New Account</button>
								<router-link to="patient_login">
									<a href="#">Return to Login Page</a>
								</router-link>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>
				</div>
				
				<div class="default-footer">
					<p class="default-footer-text">Version 1.0.0</p>
				</div>
			</div>
		</div>
	</div> 
 
</template>

<script>
import {toast} from '../assets/toastification/toast'
import { mapActions } from 'vuex';

	export default{
		name: 'patient-registration',
		mixins: [toast],
		data(){
			return{
				add:{
					username: '',
					password: '',
					first_name: '',
					middle_name: '',
					last_name: '',
					address: '',
					age: '',
					birthday: '',
					gender: '',
					contact: '',
					height: '',
					weight: '',
					blood_type: '',
					condition: '',
					last_checkup: 'N/A'
				}
			}
		},
		methods:{
			...mapActions('patients', ['addPatient']),

			matchPassword(){

				var pass = document.getElementById("tbPatientPassword").value;
				var cpass = document.getElementById("tbPatientRePassword").value;

				if(pass == cpass){
					this.checkIfConfirm();
				}else{
					this.showErrorToast('[ERROR]: Passwords do not match');
				}

			},

			checkIfConfirm(){

				var confirm = document.getElementById("cbConfirm");

				if(confirm.checked !== null){
					this.addPatientAccount();
				}else{
					this.showErrorToast('[ERROR]: Please confirm first that all of the information in this registration is correct');
				}

			},

			async addPatientAccount() {
      			const res = await this.addPatient(this.add)
      			if(res.status == 201){
					this.showSuccessToast('Patient account created succesfully, you may now login!');
     		 		this.clearFields();

      			}else {
      				this.showError(res.data);

      			}

    		},

    		clearFields(){

    			this.add.username = '';
    			this.add.password = '';
    			this.add.first_name = '';
    			this.add.middle_name = '';
    			this.add.last_name = '';
    			this.add.address = '';
    			this.add.age = '';
    			this.add.birthday = '';
    			this.add.gender = '';
    			this.add.contact = '';
    			this.add.height = '';
    			this.add.weight = '';
    			this.add.blood_type = '';
    			this.add.condition = '';

    		},

    		showError(data){
                for (const key of Object.keys(data)) {
                    window.setInterval(this.showErrorToast(data[key][0]), 2000); 
                }
            }


		},
		mounted(){


			document.title = "CCCS V.1.0.0 | Patient Registration"


		}

	}
</script>
