<template>

	<div id="staff">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="login-logo-wrapper" align="center">
					<img :src="'/assets/images/logo_main.png'" class="login-logo">
				</div>
				<!-- Admin Login Form -->
				<div class="default-form" style="margin-bottom: 130px;">
				<p class="default-form-header">Staff Login</p>
				<p class="default-form-subheader" style="margin-bottom: 10px;">Please login using your account.</p>
				<div class="tab-control" style="margin-bottom: 10px;">
					<button v-on:click="component = 'admin-login'" class="tab-control-text" :class="component == 'admin-login' ? 'active-form' : ''">Administrator</button>
					<button v-on:click="component = 'healthworker-login'" class="tab-control-text" :class="component == 'healthworker-login' ? 'active-form' : ''">Health Worker</button>
				</div>
				<transition name="fade" mode="out-in">
					<keep-alive>
						<component v-bind:is="component"></component>
					</keep-alive>
				</transition>
				
				</div>
				<div class="default-footer">
					<p class="default-footer-text">Version 1.0.0</p>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div> 
 
</template>

<script>
import AdminLogin from './stafflogin/AdminLogin';
import HealthworkerLogin from './stafflogin/HealthworkerLogin';

	export default{
		name: 'staff-login',
		components:{

			'admin-login': AdminLogin,
			'healthworker-login': HealthworkerLogin

		},
		data(){
			return{
				component: 'admin-login',
        		isValidated: false,
        		isLoading: false,
        		emailValid: true,
        		passwordValid: true
			}

		},
		mounted(){

			document.title = "CCCS V.1.0.0 | Staff Login"
		},
		methods:{


		},
		computed:{

		}

	}
</script>