<template>

	<div id="admin-dashboard">

		<div class="row">
			<div class="col-md-1">
				<admin-sidebar activePage = 'Dashboard'/>
			</div>
			<div class="col-md-8">
				<div class="dashboard-content-wrapper">
					<div class="dashboard-navigation-bar">
						<i class="fa fa-home" style="font-size: 25px;"></i>
						<p class="dashboard-navigation-active">Dashboard</p>
						<div class="dashboard-navigation-account">
							<p>{{ name }}</p>
							<img :src="'/assets/images/user_icon.png'" class="account-image">
							<p v-on:click.prevent="logout" style="font-weight: 600;">Logout</p>
						</div>
					</div>
					<div class="dashboard-data-blocks">
						<div class="row">
							<div class="col-md-4 data-block-wrapper">
								<div class="data-block">
									<div class="data-block-header">
										Registered Patients
									</div>
									<div class="data-block-figure">
										{{ data.patient_count }}
									</div>
								</div>
							</div>
							<div class="col-md-4 data-block-wrapper">
								<div class="data-block">
									<div class="data-block-header">
										Registered Employees
									</div>
									<div class="data-block-figure">
										{{ data.employee_count }}
									</div>
								</div>
							</div>
							<div class="col-md-4 data-block-wrapper">
								<div class="data-block">
									<div class="data-block-header">
										Queued Consultations
									</div>
									<div class="data-block-figure">
										{{ data.consultation_count }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="dashboard-chart">
						<div class="chart-header">
							Consulations 
							<div class="chart-container">
								<Chart :styles="{height: '250px', position: 'relative'}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<admin-time-sidebar />
			</div>
		</div>
		
	</div> 
 
</template>

<script>
import AdminSidebar from '../navigation/AdminSidebar';
import AdminTimeSidebar from '../navigation/AdminTimeSidebar';
import Chart from '../charts/Bar';
import { mapActions, mapState } from 'vuex';

	export default{
		name: 'admin-dashboard',
		components: {AdminSidebar, AdminTimeSidebar, Chart},
		data(){

			return{

			}
		},
		mounted(){

			document.title = "CCCS V.1.0.0 | Admin Dashboard"
			this.loadDashboardData()
		},
		methods: {
   			...mapActions('auth', ['logoutUser', 'checkUser']),
   			...mapActions('dashboard', ['getDashboardData']),

   			async logout(){
     			const res = await this.logoutUser()
     			if(res.status == 200){
      				this.$router.push('/staff_login')
     			}
   			},

   			async checkAuth() {
     			await this.checkUser()
  			},

  			async loadDashboardData(){
  				await this.getDashboardData()
  			}
 		 
 		},

  		computed: {
    		...mapState('auth', ['id', 'name']),
    		...mapState('dashboard', ["data"])
  		},

	}
</script>