<template>

	<div id="employees-account">

		<div class="row">
			<div class="col-md-1">
				<admin-sidebar activePage = 'Employees Account'/>
			</div>
			<div class="col-md-8">
				<div class="dashboard-content-wrapper">
					<div class="dashboard-navigation-bar">
						<i class="fa fa-user-md" style="font-size: 25px;"></i>
						<p class="dashboard-navigation-active">Employee Accounts</p>
						<div class="dashboard-navigation-account">
							<p>{{ name }}</p>
							<img :src="'/assets/images/user_icon.png'" class="account-image">
							<p v-on:click.prevent="logout" style="font-weight: 600;">Logout</p>
						</div>
					</div>
					<div class="employees-account-wrapper">
						<div class="table-controls">
							<div class="table-controls-button">
								<button class="default-button" style="font-size: 12px; width: 170px;" @click="$bvModal.show('addAccountModal')">Add New Account</button>
							</div>
							<div class="table-controls-search">
								<i class="fa fa-search table-search-icon"></i>
								<input type="text" class="form-control table-search" v-model="search" placeholder="Search Employee Account">
							</div>
						</div>			
						<div class="table-wrapper">
							<p class="table-header">Manage Employee Accounts</p>
							<div class="table-responsive table-container">
             		 			<table class="table table-hover" style="color: #D9D9D9;">
                					<thead>
                  						<tr>
						                    <th scope="col">Username</th>
						                    <th scope="col">Name </th>
						                    <th scope="col">Gender</th>
						                    <th scope="col">Designation </th>
						                    <th scope="col">Contact Number</th>
						                    <th scope="col">Actions</th>
                  						</tr>
                					</thead>
                					<tbody>
                  						<div class="spinner-grow loading text-primary" role="status" v-if="isLoading"> 
                    						<span class="sr-only">Loading...</span>
                  						</div>
                  						<tr v-for="(employees, i) in filterEmployees" :key="i">
	                    					<td v-if="!isLoading">{{ employees.username }}</td>
	                    					<td v-if="!isLoading">{{ employees.name }}</td>
	                    					<td v-if="!isLoading">{{ employees.gender }}</td>
	                    					<td v-if="!isLoading">{{ employees.designation }}</td>
	                    					<td v-if="!isLoading">{{ employees.contact }}</td>
	                   						<td v-if="!isLoading">
	                        					<a href="#" class="button-edit" v-on:click="editIndex = i; edit = {...employees}" @click="$bvModal.show('editAccountModal')"><i class="fa fa-edit"></i></a>
                             					<a href="#" class="button-delete" v-on:click="deleteId = employees.id" @click="$bvModal.show('deleteAccountModal')"><i class="fa fa-trash-o"></i></a>
	                    					</td>
                  						</tr>
                					</tbody>
              					</table>
            				</div>
            				<nav aria-label="Page navigation example" class="mt-3">
              					<ul class="pagination pagination-sm justify-content-end">
					                <li class="page-item disabled">
					                  <a class="page-link" href="#" tabindex="-1">Prev</a>
					                </li>
					                <li class="page-item active">
					                  <a class="page-link" href="#">1</a>
					                </li>
					                <li class="page-item">
					                  <a class="page-link" href="#">Next</a>
					                </li>
              					</ul>
            				</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<admin-time-sidebar />
			</div>
		</div>

		<!-- Modals -->

		<b-modal id="addAccountModal" class="modal-body" title="Add Employee Account" hide-footer>
     		<div class="default-modal-wrapper">
     			<div class="row">
        	  		<input type="text" name="fullname" id="fullname" class="default-modal-textbox" v-model="add.name" autocomplete="off" placeholder="Full Name" required>
      			</div>
      			<div class="row">
        	  		<input type="text" name="username" id="username" class="default-modal-textbox" v-model="add.username" autocomplete="off" placeholder="Username" required>
      			</div>
      			<div class="row">
        	  		<input type="password" name="password" id="password" class="default-modal-textbox" v-model="add.password" autocomplete="off" placeholder="Password" required>
      			</div>
      			<div class="row">
        	  		<input type="password" name="repassword" id="repassword" class="default-modal-textbox" v-model="add.repassword" autocomplete="off" placeholder="Confirm Password" required>
      			</div>
      			<div class="row" style="padding-right: 8px;">
      				<div class="col-md-7" style="padding: 0px;">
      					<select id="designation" class="default-modal-textbox" v-model="add.designation" style="margin-right: 8px;">
							<option value="" disabled="true" selected="true">Designation</option>
							<option value="System Administrator">System Administrator</option>
							<option value="Health Worker">Health Worker</option>
						</select>
      				</div>
      				<div class="col-md-5" style="padding: 0px;">
      					<select id="gender" class="default-modal-textbox" v-model="add.gender" style="margin-left: 8px;">
							<option value="" disabled="true" selected="true">Gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
      				</div>
        	  	</div>
        	  	<div class="row" style="margin-bottom: 20px;">
        	  		<input type="text" name="contact" id="contact" class="default-modal-textbox" v-model="add.contact" autocomplete="off" placeholder="Contact Number" required>
      			</div>
        	  	<div class="row">
        	  		<button class="default-button" v-on:click="addEmployeeAccount()">Create Account</button>
        	  	</div>
     		</div>
    	</b-modal>

    	<b-modal id="editAccountModal" class="modal-body" title="Edit Employee Account" hide-footer>
     		<div class="default-modal-wrapper">
     			<div class="row">
        	  		<input type="text" name="fullname" id="fullname" class="default-modal-textbox" v-model="edit.name" autocomplete="off" placeholder="Full Name">
      			</div>
      			<div class="row">
        	  		<input type="text" name="username" id="username" class="default-modal-textbox" v-model="edit.username" autocomplete="off" placeholder="Username">
      			</div>
      			<div class="row" style="padding-right: 8px;">
      				<div class="col-md-7" style="padding: 0px;">
      					<select id="designation" class="default-modal-textbox" v-model="edit.designation" style="margin-right: 8px;">
							<option value="" disabled="true" selected="true">Designation</option>
							<option value="System Administrator">System Administrator</option>
							<option value="Health Worker">Health Worker</option>
						</select>
      				</div>
      				<div class="col-md-5" style="padding: 0px;">
      					<select id="gender" class="default-modal-textbox" v-model="edit.gender" style="margin-left: 8px;">
							<option value="" disabled="true" selected="true">Gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
      				</div>
        	  	</div>
        	  	<div class="row" style="margin-bottom: 20px;">
        	  		<input type="text" name="contact" id="contact" class="default-modal-textbox" v-model="edit.contact" autocomplete="off" placeholder="Contact Number">
      			</div>
        	  	<div class="row">
        	  		<button class="default-button" v-on:click="editEmployeeAccount()">Save Changes</button>
        	  	</div>
     		</div>
    	</b-modal>

        <b-modal id="deleteAccountModal" class="modal-body" title="Delete Employee Account" hide-footer>
            <div class="default-modal-wrapper">
                <div class="row">
                    <h5>Proceed with the deletion of this account? This can't be unchanged.</h5>
                </div>
                <br>
                <div class="row">
                    <button class="default-button" v-on:click="deleteEmployeeAccount()">Proceed</button>
                </div>
            </div>
        </b-modal>
		
	</div> 
 
</template>

<script>
import AdminSidebar from '../navigation/AdminSidebar';
import AdminTimeSidebar from '../navigation/AdminTimeSidebar';
import {toast} from '../../assets/toastification/toast'
import { mapActions, mapState, mapGetters } from 'vuex';

	export default{
		name: 'employees-account',
		components: {AdminSidebar, AdminTimeSidebar},
        mixins: [toast],
		data(){

			return{

				add:{
					name: '',
					username: '',
					password: '',
					repassword: '',
					designation: '',
					gender: '',
					contact: '',
					last_login: 'N/A'
				},
				edit:{
					name: '',
					username: '',
					designation: '',
					gender: '',
					contact: ''
				},
				editIndex: '',
                deleteId: '',
				search: '',
				isLoading: false
			}
		},
		async mounted(){

			document.title = "CCCS V.1.0.0 | Employees Account"
    		this.isLoading = true
   				await this.getEmployees()
   				.then(() =>  {
      				this.isLoading = false
    			})

		},
		methods: {
            ...mapActions('auth', ['logoutUser', 'checkUser']),
   			...mapActions('employees', ['getEmployees', 'addEmployee', 'updateEmployee', 'deleteEmployee']),
   			...mapGetters('employees', ['getEmployeeData']),

   			async logout(){
     			const res = await this.logoutUser()
     			if(res.status == 200){
      				this.$router.push('/staff_login')
                    
     			}
   			},

   			async checkAuth() {
     			await this.checkUser()

  			},

  			async addEmployeeAccount() {
      			const res = await this.addEmployee(this.add)
      			if(res.status == 201){
					this.showSuccessToast('Employee account added successfully!');
     		 		this.clearAddFields();
     		 		this.getEmployees();
     		 		this.$bvModal.hide('addAccountModal');

      			}else{
                    this.$bvModal.hide('addAccountModal');
                    this.showError(res.data)
                }       


    		},

    		async editEmployeeAccount(){
      			const res = await this.updateEmployee({data: {...this.edit}, index: this.editIndex})
      			if(res.status == 201){
					this.showSuccessToast('Employee account updated successfully!');
     		 		this.clearEditFields();
     		 		this.getEmployees();
     		 		this.$bvModal.hide('editAccountModal');

      			}else{
      				this.$bvModal.hide('addAccountModal');
                    this.showError(res.data)
      			}

    		},

            async deleteEmployeeAccount() {
                const res = await this.deleteEmployee(this.deleteId);
                if(res.status == 201){
                    this.showSuccessToast('Employee account deleted successfully!');
                    this.getEmployees();
                    this.$bvModal.hide('deleteAccountModal');

                }else{
                    this.$bvModal.hide('addAccountModal');
                    this.showError(res.data)
                }
            },

  			clearAddFields() {
      			this.add.name = "";
      			this.add.username = "";
      			this.add.password = "";
      			this.add.repassword = "";
      			this.add.contact = "";
    		},

    		clearEditFields() {
      			this.edit.name = "";
      			this.edit.username = "";
      			this.edit.password = "";
      			this.edit.repassword = "";
      			this.edit.contact = "";
    		},

            showError(data){
                for (const key of Object.keys(data)) {
                    window.setInterval(this.showErrorToast(data[key][0]), 2000); 
                }
            }
 		 
 		},

  		computed: {
    		...mapState('auth', ['id', 'name']),
    		...mapState('employees', ['employees']),

    		filterEmployees() {
      			return this.employees.filter((employees) => {
        			return (
			        	employees.name.match(this.search) ||
			        	employees.username.match(this.search) ||
			        	employees.designation.match(this.search)
	
        			);
      			});
    		}

  		},

	}
</script>