<template>

	<div id="patients-account">

		<div class="row">
			<div class="col-md-1">
				<admin-sidebar activePage = 'Patients Account'/>
			</div>
			<div class="col-md-8">
				<div class="dashboard-content-wrapper">
					<div class="dashboard-navigation-bar">
						<i class="fa fa-group" style="font-size: 25px;"></i>
						<p class="dashboard-navigation-active">Patients Account</p>
						<div class="dashboard-navigation-account">
							<p>{{ name }}</p>
							<img :src="'/assets/images/user_icon.png'" class="account-image">
							<p v-on:click.prevent="logout" style="font-weight: 600;">Logout</p>
						</div>
					</div>
					<div class="employees-account-wrapper">
						<div class="table-controls">
							<div class="table-controls-button">
								<button class="default-button" style="font-size: 12px;" @click="printpdf();">Export PDF File</button>
							</div>
							<div class="table-controls-search">
								<i class="fa fa-search table-search-icon"></i>
								<input type="text" class="form-control table-search" v-model="search" placeholder="Search Patient">
							</div>
						</div>			
						<div class="table-wrapper">
							<p class="table-header">View Patients List</p>
							<div class="table-responsive table-container" style="overflow-x: auto;">
             		 			<table class="table table-hover" style="color: #D9D9D9;">
                					<thead>
                  						<tr>
						                    <th scope="col">Patient Name</th>
						                    <th scope="col">Address </th>
						                    <th scope="col">Age</th>
						                    <th scope="col">Birthday </th>
						                    <th scope="col">Gender</th>
						                    <th scope="col">Contact</th>
						                    <th scope="col">Height</th>
						                    <th scope="col">Weight</th>
						                    <th scope="col">Blood Type</th>
						                    <th scope="col">Condition</th>
						                    <th scope="col">Last Checkup</th>
                  						</tr>
                					</thead>
                					<tbody>
                  						<div class="spinner-grow loading text-primary" role="status" v-if="isLoading"> 
                    						<span class="sr-only">Loading...</span>
                  						</div>
                  						<tr v-for="(patients, i) in filterPatients" :key="i">
	                    					<td v-if="!isLoading">{{ patients.first_name + ' ' + patients.middle_name + ' ' + patients.last_name}}</td>
	                    					<td v-if="!isLoading">{{ patients.address }}</td>
	                    					<td v-if="!isLoading">{{ patients.age }}</td>
	                    					<td v-if="!isLoading">{{ patients.birthday }}</td>
	                    					<td v-if="!isLoading">{{ patients.gender }}</td>
	                    					<td v-if="!isLoading">{{ patients.contact }}</td>
	                    					<td v-if="!isLoading">{{ patients.height }}</td>
	                    					<td v-if="!isLoading">{{ patients.weight }}</td>
	                    					<td v-if="!isLoading">{{ patients.blood_type }}</td>
	                    					<td v-if="!isLoading">{{ patients.condition }}</td>
	                    					<td v-if="!isLoading">{{ patients.last_checkup }}</td>
                  						</tr>
                					</tbody>
              					</table>
            				</div>
            				<nav aria-label="Page navigation example" class="mt-3">
              					<ul class="pagination pagination-sm justify-content-end">
					                <li class="page-item disabled">
					                  <a class="page-link" href="#" tabindex="-1">Prev</a>
					                </li>
					                <li class="page-item active">
					                  <a class="page-link" href="#">1</a>
					                </li>
					                <li class="page-item">
					                  <a class="page-link" href="#">Next</a>
					                </li>
              					</ul>
            				</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<admin-time-sidebar />
			</div>
		</div>
		
	</div> 
 
</template>

<script>
import AdminSidebar from '../navigation/AdminSidebar';
import AdminTimeSidebar from '../navigation/AdminTimeSidebar';
import { mapActions, mapState, mapGetters } from 'vuex';
import jsPDF from 'jspdf';
import autoTable from 'jspdf-autotable';

	export default{
		name: 'patients-account',
		components: {AdminSidebar, AdminTimeSidebar},
		data(){

			return{

				datetime: '',
				patients:[],
				search: '',
				isLoading: false
				
			}
		},
		async mounted(){

			document.title = "CCCS V.1.0.0 | Patients Account"
			this.isLoading = true
   				await this.getPatients()
   				.then((response) =>  {
      				this.isLoading = false
      				this.patients = response.data;
    			})
		},
		methods: {
   			...mapActions('auth', ['logoutUser', 'checkUser']),
   			...mapActions('patients', ['getPatients']),
   			...mapGetters('patients', ['getPatientData']),

   			async logout(){
     			const res = await this.logoutUser()
     			if(res.status == 200){
      				this.$router.push('/staff_login')
     			}
   			},

   			async checkAuth() {
     			await this.checkUser()
  			},

  			printpdf(){

  				var vm = this;
  				var columns = [
  					{title: "First Name", dataKey: "first_name"},
  					{title: "Middle Name", dataKey: "middle_name"},
  					{title: "Last Name", dataKey: "last_name"},
  					{title: "Address", dataKey: "address"},
  					{title: "Age", dataKey: "age"},
  					{title: "Gender", dataKey: "gender"},
  					{title: "Contact", dataKey: "contact"},
  					{title: "Condition", dataKey: "condition"},
  					{title: "Last Checkup", dataKey: "last_checkup"}
  				];

  				var doc = new jsPDF('p', 'pt');
  				doc.text('List of Registered Patients', 40, 20,);
  				doc.setFontSize(10);
  				doc.text('As of: ' + vm.datetime, 40, 30,);
  				doc.autoTable(columns, vm.patients, {
  					theme: 'grid',
  					pageBreak: 'auto'

  				});
  				doc.save('sample.pdf');

  			},

  			getDate(){

  				const today = new Date();
    			const date = (today.getMonth()+1) + '/' + today.getDate() + '/' + today.getFullYear();
    			this.datetime = date;

  			}

 		 
 		},

  		computed: {
    		...mapState('auth', ['id', 'name']),
    		...mapState('patients', ['patients']),

    		filterPatients() {
      			return this.patients.filter((patients) => {
        			return (
			        	patients.first_name.match(this.search) ||
			        	patients.last_name.match(this.search)
	
        			);
      			});
    		}
  		},

  		created(){

  			this.getDate();

  		}
	}
</script>