<template>

	<div id="patient-panel">

		<patient-navbar activePage = 'Consultations'/>
		<div class="row">
			<div class="col-md-6" style="padding: 30px 10px 30px 100px;">
				<div class="pending-consultation" style="height: 500px; overflow-x: auto;">
					<p class="consultation-header">
						Pending Tickets
					</p>
					<p class="consultation-subheader">
						Total: {{ filterPending.length }}
					</p>
					<div class="table-responsive table-container">
             		 	<table class="table table-hover" style="color: #D9D9D9;">
                			<thead>
                  				<tr>
						        	<th scope="col">Date</th>
						        	<th scope="col">Details </th>
						        	<th scope="col">Action</th>
                  				</tr>
                			</thead>
                			<tbody>
                				<template v-if="!filterPending.length">
                            		<tr>
                              			<td colspan="4" class="text-center">No data available</td>
                            		</tr>
                          		</template>
                          		<template v-else>
                          			<div class="spinner-grow loading text-primary" role="status" v-if="isPendingLoading"> 
                    					<span class="sr-only">Loading...</span>
                  					</div>
                  					<tr v-for="(pending, i) in filterPending" :key="i">
	                    				<td v-if="!isPendingLoading">{{ pending.date }}</td>
	                        			<td v-if="!isPendingLoading">{{ pending.details }}</td>
	                        			<td v-if="!isPendingLoading">
	                        				<a href="#" class="button-view" v-on:click="view = {...pending}" @click="$bvModal.show('viewPendingModal')"><i class="fa fa-eye"></i></a>
                             				<a href="#" class="button-delete" v-on:click="deleteId = pending.id" @click="$bvModal.show('deletePendingModal')"><i class="fa fa-trash-o"></i></a>
	                    				</td>
                  					</tr>
                          		</template>
                			</tbody>
              			</table>
            		</div>
				</div>
			</div>
			<div class="col-md-6" style="padding: 30px 110px 30px 10px;">
				<div class="answered-consultation" style="height: 500px; overflow-x: auto;">
					<p class="consultation-header">
						Closed Tickets
					</p>
					<p class="consultation-subheader">
						Total: {{ filterClosed.length }}
					</p>
					<div class="table-responsive table-container">
             		 	<table class="table table-hover" style="color: #D9D9D9;">
                			<thead>
                  				<tr>
						        	<th scope="col">Date</th>
						        	<th scope="col">Details </th>
						        	<th scope="col">Action</th>
                  				</tr>
                			</thead>
                			<tbody>
                				<template v-if="!filterClosed.length">
                            		<tr>
                              			<td colspan="4" class="text-center">No data available</td>
                            		</tr>
                          		</template>
                          		<template v-else>
                          			<div class="spinner-grow loading text-primary" role="status" v-if="isClosedLoading"> 
                    					<span class="sr-only">Loading...</span>
                  					</div>
                  					<tr v-for="(closed, i) in filterClosed" :key="i">
	                    				<td v-if="!isClosedLoading">{{ closed.date }}</td>
	                        			<td v-if="!isClosedLoading">{{ closed.details }}</td>
	                        			<td v-if="!isClosedLoading">
	                        				<a href="#" class="button-view" v-on:click="view = {...closed}, employee= {...closed.employee}" @click="$bvModal.show('viewClosedModal')"><i class="fa fa-eye"></i></a>
                             				<a href="#" class="button-delete" v-on:click="deleteId = closed.id" @click="$bvModal.show('deleteClosedModal')"><i class="fa fa-trash-o"></i></a>
	                    				</td>
                  					</tr>
                          		</template>
                			</tbody>
              			</table>
            		</div>
				</div>
			</div>
		</div>

		<b-modal id="viewPendingModal" class="modal-body" title="Pending Ticket Details" hide-footer>
     		<div class="default-modal-wrapper" style="padding: 5px;">
     			<p class="patient-details-label">Ticket Queued Date</p>
        	  	<p class="patient-details-text">{{ view.date }}</p>
        	  	<p class="patient-details-label">Ticket Details</p>
        	  	<p class="patient-details-text">{{ view.details }}</p>
     		</div>
    	</b-modal>

    	<b-modal id="viewClosedModal" class="modal-body" title="Closed Ticket Details" hide-footer>
     		<div class="default-modal-wrapper" style="padding: 5px;">
     			<p class="patient-details-label">Ticket Closed Date</p>
        	  	<p class="patient-details-text">{{ view.date }}</p>
        	  	<p class="patient-details-label">Ticket Details</p>
        	  	<p class="patient-details-text">{{ view.details }}</p>
        	  	<p class="patient-details-label">Attending Healthworker/Doctor</p>
        	  	<p class="patient-details-text">{{ employee.name }}</p>
        	  	<p class="patient-details-label">Initial Diagnosis</p>
        	  	<p class="patient-details-text">{{ view.diagnosis }}</p>
        	  	<p class="patient-details-label">Prescription</p>
        	  	<p class="patient-details-text">{{ view.prescription }}</p>
     		</div>
    	</b-modal>

    	<b-modal id="deletePendingModal" class="modal-body" title="Delete Pending Ticket" hide-footer>
            <div class="default-modal-wrapper">
                <div class="row">
                    <h5>Remove ticket from queue? This can't be unchanged.</h5>
                </div>
                <br>
                <div class="row">
                    <button class="default-button" v-on:click="deletePendingTicket()">Proceed</button>
                </div>
            </div>
        </b-modal>

        <b-modal id="deleteClosedModal" class="modal-body" title="Delete Closed Ticket" hide-footer>
            <div class="default-modal-wrapper">
                <div class="row">
                    <h5>Remove this closed ticket? This can't be unchanged.</h5>
                </div>
                <br>
                <div class="row">
                    <button class="default-button" v-on:click="deleteClosedTicket()">Proceed</button>
                </div>
            </div>
        </b-modal>
		
	</div> 
 
</template>

<script>
import PatientNavbar from '../navigation/PatientNavbar';
import {toast} from '../../assets/toastification/toast';
import { mapActions, mapState, mapGetters } from 'vuex';


	export default{
		name: 'patient-panel',
        mixins: [toast],
		components: {PatientNavbar},
		data(){

			return{

				view: {},
				employee: {},
				deleteId: '',
				isPendingLoading: false,
				isClosedLoading: false,
				
			}
		},
		async mounted(){

			document.title = "CCCS V.1.0.0 | Patient Panel"
			this.isPendingLoading = true
			this.isClosedLoading = true
			this.getEmployees();
   			await this.getPendingConsultations()
   			.then(() =>  {
      			this.isPendingLoading = false
    		})

    		await this.getClosedConsultations()
   			.then(() =>  {
      			this.isClosedLoading = false
    		})

		},
		methods:{

			...mapActions('consultations', ['getPendingConsultations', 'getClosedConsultations', 'getEmployees', 'deletePendingConsultation', 'deleteClosedConsultation']),
			...mapGetters('consultations', ['getPendingConsultationData', 'getClosedConsultationData']),

			async deletePendingTicket() {
                const res = await this.deletePendingConsultation(this.deleteId);
                if(res.status == 201){
                    this.showSuccessToast('Pending ticket deleted successfully!')
                    this.getPendingConsultations();
                    this.$bvModal.hide('deletePendingModal');

                }else if(res.status == 404){
                    this.showErrorToast('[ERROR]: Consultation ticket not found!');

                }else{
                    this.showError(res.data);
                }
            },

            async deleteClosedTicket() {
                const res = await this.deleteClosedConsultation(this.deleteId);
                if(res.status == 201){
                    this.showSuccessToast('Closed ticket deleted successfully!')
                    this.getClosedConsultations();
                    this.$bvModal.hide('deleteClosedModal');

                }else if(res.status == 404){
                    this.showErrorToast('[ERROR]: Consultation ticket not found!');

                }else{
                    this.showError(res.data);
                }
            },

            showError(data){
                for (const key of Object.keys(data)) {
                    window.setInterval(this.showErrorToast(data[key][0]), 2000); 
                }
            }

		},
		computed:{
			...mapState('patientauth', ['id']),
			...mapState('consultations', ['pending', 'closed', 'employees']),
			
    		filterPending() {
      			return this.pending
    		},

    		filterClosed() {
      			return this.closed
    		}

		}

	}
</script>