<template>

	<div id="patient-profile">

		<patient-navbar activePage = 'Patient Profile'/>
		<div class="row">
			<div class="col-md-12" style="padding: 30px 100px 30px 100px;">
				<div class="profile">
					<p class="profile-header">Manage Patient Profile</p>

					<div class="row">
						<div class="col-md-4">
							<p class="profile-subheader">Account Details</p>

							<!-- Form -->

							<p class="profile-textbox-label">Change Username</p>
							<input type="text" name="tbPatientUsername" id="tbPatientUsername" class="profile-textbox" placeholder="Enter your username">
							<p class="profile-textbox-label">Change Password</p>
							<input type="password" name="tbPatientPassword" id="tbPatientPassword" class="profile-textbox" placeholder="Enter your password">
							<p class="profile-textbox-label">Confirm New Password</p>
							<input type="password" name="tbPatientRePassword" id="tbPatientRePassword" class="profile-textbox" placeholder="Re-enter your password">
						</div>
						<div class="col-md-4">
							<p class="profile-subheader">Personal Details</p>

							<!-- Form -->
							<p class="profile-textbox-label">Change Name</p>
							<input type="text" name="tbFirstName" id="tbFirstName" class="default-form-textbox" placeholder="First Name">
							<input type="text" name="tbMiddleName" id="tbMiddleName" class="default-form-textbox" placeholder="Middle Name">
							<input type="text" name="tbLastName" id="tbLastName" class="default-form-textbox" placeholder="Last Name">
							<p class="profile-textbox-label">Change Other Details</p>
							<input type="text" name="tbAddress" id="tbAddress" class="
							default-form-textbox" placeholder="Address">
							<input type="text" name="tbPatientPassword" id="tbAge" class="default-form-textbox" placeholder="Age" style="width: 20%; display: inline-flex;">
							<input type="date" name="dpBirthday" id="dpBirthday" class="default-form-textbox" placeholder="Birthday" style="width: 78.5%; display: inline-flex ;">
							<select name="drpGender" id="drpGender" class="default-form-textbox" style="width: 30%; display: inline-block;">
								<option value="" disabled="true" selected="true">Gender</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
							<input type="text" name="tbContact" id="tbContact" class="default-form-textbox" placeholder="Contact Number" style="width: 68.5%; display: inline-flex;">
						</div>
						<div class="col-md-4">
							<p class="profile-subheader">Health Information</p>

							<!-- Form -->
							<p class="profile-textbox-label">Update Height</p>
							<input type="text" name="tbHeight" id="tbHeight" class="default-form-textbox" placeholder="Height (in cm)">
							<p class="profile-textbox-label">Update Weight</p>
							<input type="text" name="tbWeight" id="tbWeight" class="default-form-textbox" placeholder="Weight (in lbs)">
							<p class="profile-textbox-label">Update Blood Type</p>
							<select name="drpBloodType" id="drpBloodType" class="default-form-textbox">
								<option value="" disabled="true" selected="true">Blood Type</option>
								<option value="A+">A+</option>
								<option value="A-">A-</option>
								<option value="B+">B+</option>
								<option value="B-">B-</option>
								<option value="AB+">AB+</option>
								<option value="AB-">AB-</option>
								<option value="O+">O+</option>
								<option value="O-">O-</option>
								<option value="Unknown">Unknown</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div> 
 
</template>

<script>

import PatientNavbar from '../navigation/PatientNavbar';
import { mapActions, mapState, mapGetters } from 'vuex';

	export default{
		name: 'patient-profile',
		components: {PatientNavbar},
		data(){

			return{
				edit:{
					username: '',
					password: '',
					first_name: '',
					middle_name: '',
					last_name: '',
					address: '',
					age: '',
					birthday: '',
					gender: '',
					contact: '',
					height: '',
					weight: '',
					blood_type: ''
				}

			}
		},
		mounted(){

			document.title = "CCCS V.1.0.0 | Patient Profile";
		}

	}
</script>