/*Custom CSS Styling for the System
 */


body {

    height: 100%;
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;

    font-family: 'Segoe UI', sans-serif;
    background-color: #181F39;

}

li{

	list-style-type: none;
}

/* General Styling */

.default-button{

	width: 100%;
	padding: 3px;
	margin-bottom: 15px;

	font-size: 15px;
	font-weight: 600;
	background-color: #3D64FF;
	color: #D9D9D9;
	border-color: transparent;

	transition: 0.5s;

}

.default-button:hover{

	background-color: #6E8BFF;

	transition: 0.5s;

}

.default-alt-button{

	width: 100%;
	padding: 3px;

	font-size: 15px;
	font-weight: 600;
	background-color: #28B6AD;
	color: #D9D9D9;
	border-color: transparent;

	transition: 0.5s;

}

.default-alt-button:hover{

	background-color: #7CDFD9;

	transition: 0.5s;

}

.secondary-button{

	width: 100%;
	padding: 4px;

	font-size: 15px;
	font-weight: 600;
	background-color: #293458;
	color: #D9D9D9;
	border-color: transparent;

	transition: 0.5s;

}

.secondary-button:hover{

	background-color: #54608A;
	
	transition: 0.5s;

}

.default-form{

	width: 55%;
	margin: auto;
	padding: 25px;

	background-color: #1E2746;	
}

.default-form-header{

	margin: 0px;

	font-size: 22px;
	font-weight: 600;
	color: #D9D9D9;
}

.default-form-subheader{

	font-size: 14px;
	color: #D9D9D9;
}

.default-form-textbox{

	width: 100%;
	margin-bottom: 10px;
	padding: 5px;

	background-color: #181F39;
	color: #D9D9D9;
	border: 1px solid #293458;

	transition: 0.5s;

}

.default-form-textbox:focus{

	outline: none;
	border: 2px solid #3D64FF;

	transition: 0.5s;

}

.default-form-checkbox{


	display: inline-flex;
}

.default-form-checkbox-label{

	color: #D9D9D9; 
	font-size: 12px; 
	display: inline-flex;
}

.default-footer{

	text-align: center;
}

.default-footer-text{

	color: #D9D9D9;
}

.default-modal-wrapper{

	padding: 15px;

}

.default-modal-label{

	font-size: 14px;
	font-weight: 600;

}

.default-modal-textbox{
	
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;

	font-size: 15px;
	border: transparent;
	color: #838383;
	background-color: #D8D8D8;

	transition: 0.5s;
}

.default-modal-textbox:focus{

	outline: none;
	border: 2px solid #3D64FF;

	transition: 0.5s;

}

.modal-patient-details{

	height: 200px;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;

	background-color: #D9D9D9;

}

.patient-details-label{

	margin: 0px;

	font-size: 16px;
	font-weight: 600;

}

.patient-details-text{

	margin: 0px 0px 5px 0px;

	font-size: 16px;

}

.modal-edit-patient-details{

	height: 200px;
	padding-top: 10px;
	overflow-y: auto;
	overflow-x: hidden;

}

/* Transitions */

.fade-enter-active, .fade-leave-active{

	transition: opacity 0.3s ease;
}

.fade-enter, .fade-leave-active{

	opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {

	transition-duration: 0.5s;
	transition-property: height, opacity, transform;
	transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
	overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {

	opacity: 0;
	transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {

	opacity: 0;
	transform: translate(-2em, 0);
}


/* Landing Page */

.landing-page-image{

	width: 100%;
}

.landing-page-tagline{

	margin-bottom: 120px;

	color: #D9D9D9;
	font-size: 40px;
	font-weight: 700;
	line-height: 45px;

}

.landing-page-login-text{

	color: #D9D9D9;
	font-size: 18px;
	font-weight: 600;

}

.text-wrapper{

	margin-right: 20px;
	margin-left: 20px;
	padding: 100px;
}

/* Login Page */

.login-logo-wrapper{

	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 45px;

}

.login-logo{

	width: 45%;
	margin-top: 50px;

}

/* Registration Page */

.tab-control{

	width: 100%;

	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.tab-control-text{

	margin-right: 15px;
	margin-left: 15px;

	color: #293458;
	background-color: transparent;
	border: transparent;
}

.form-wrapper{

	margin-top: 20px;

}

.active-form{

	font-weight: 600;
	color: #D9D9D9;
}

/* Sidebar */

.sidebar-wrapper{

	width: 90px;
	height: 100vh;

}

.sidebar-logo-wrapper{

	width: 100%;
	height: 90px;
	text-align: center;

	background-color: #33406E;
}

.sidebar-logo{

	width: 40%;
	margin: 25px;
}

.sidebar-content-wrapper{

	width: 100%;
	height: 100%;

	background-color: #1E2746;
}

.sidebar-content{

	padding-top: 20px;
	text-align: center;
}

.sidebar-button{

	height: 40px;
	width: 40px;
	margin: 25px;

	font-size: 25px;
	color: #A2A1A1;
}

.sidebar-button.active{

	height: 40px;
	width: 40px;
	border-radius: 5px;

	background-color: #3D64FF;
	color: #FFFFFF;

}

.sidebar-button.settings{

	margin-top: 60px;
	height: 40px;
	width: 40px;
	border-radius: 50px;
	
	color: #A2A1A1;
	background-color: #CDCDCD;

}

/* Time Sidebar */

.dashboard-clock-wrapper{

	width: 100%;
	height: 100vh;
	padding: 35px;

	background-color: #1E2746;
}

.dashboard-clock{

	padding: 0px;
	margin-bottom: 120px;
	line-height: 1.2;
}

.date-text{

	margin: 0px;

	color: #D9D9D9;
}

.time-text{

	margin: 0px;
	white-space: nowrap;

	font-size: 65px;
	font-weight: 600;
	color: #D9D9D9;
}

.dashboard-recent-login{

	padding: 0px;
	line-height: 1.3;
}

.recent-login-header{

	margin: 0px;
	margin-bottom: 10px;

	font-size: 15px;
	font-weight: 600;
	color: #D9D9D9;
}

.recent-logins{

	line-height: 2;

	font-size: 15px;
	color: #D9D9D9;
}

/* Navbar */

.navbar-wrapper{

	width: 100%;
	height: 90px;
	display: inline-flex;

}

.navbar-logo-wrapper{

	width: 90px;
	height: 100%;
	text-align: center;

	background-color: #33406E;
}

.navbar-logo{

	width: 40%;
	margin: 25px;
}

.navbar-content-wrapper{

	width: 100%;
	height: 100%;

	background-color: #1E2746;
}

.navbar-content{

	margin-left: 30px;
	display: inline-flex;

}

.navbar-button{

	height: 40px;
	width: 40px;
	margin: 25px 15px 25px 15px;
	text-align: center;

	font-size: 25px;
	color: #A2A1A1;
}

.navbar-button.active{

	height: 40px;
	width: 40px;
	border-radius: 5px;

	background-color: #3D64FF;
	color: #FFFFFF;

}

.navbar-account{

	margin-top: 15px;
	margin-right: 50px;
	display: inline-flex;
	float: right;
}

.navbar-account-name{

	margin-top: 16px;
	margin-right: 30px;

	color: #D9D9D9;

}

.navbar-time{

	width: 220px;
	height: 100%;
	padding: 20px;
	line-height: 0.6;
	text-align: right;
	float: right;

}

.navbar-clock{

	font-size: 45px;
	font-weight: 600;
	white-space: nowrap;
	color: #D9D9D9;
}

.navbar-date{

	font-size: 14px;
	white-space: nowrap;
	color: #D9D9D9;
}

.new-consultation-button{

	height: 30px;
	width: 150px;
	margin-top: 30px;
	margin-right: 40px;
	border-color: transparent;
	border-radius: 30px;

	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	background: linear-gradient(30deg, rgba(59,132,249,1) 0%, 
		rgba(49,182,208,1)100%);
}

.logout-button{

	border: transparent;
	padding: 0px;

	font-weight: 600;
	background-color: transparent;
	color: #D9D9D9;

	transition: 0.5s;
}

.logout-button:hover{

	color: #3D64FF;

	transition: 0.5s;
}

/* Dashboard */

.dashboard-content-wrapper{

	margin-top: 12px;
	padding: 20px;
}

.dashboard-navigation-bar{

	font-size: 18px;
	color: #D9D9D9;
}

.dashboard-navigation-active{

	margin-left: 5px;
	display: inline-flex;

	font-weight: 600;
	font-size: 15px;
}

.dashboard-navigation-account{

	float: right;
	display: inline-flex;

	font-size: 15px;
}

.account-image{

	width: 25px;
	height: 25px;
	margin-left: 15px;
	margin-right: 15px;
}

.dashboard-data-blocks{

	margin-top: 5px;
	padding: 10px;
}

.data-block-wrapper{

	padding: 5px;
}

.data-block{

	width: 100%;
	height: 100px;
	padding: 10px;
	line-height: 1.3;

	color: #D9D9D9;
	background-color: #1E2746;
}

.data-block-header{

	font-weight: 600;
}

.data-block-figure{

	font-size: 50px;
	font-weight: 600;
}

.dashboard-chart{

	width: 100%;
	height: 400px;
	padding: 10px;

	color: #D9D9D9;
	background-color: #1E2746;
}

.chart-header{

	font-weight: 600
}

.chart-container{

	margin: 5px;
	max-width: 350px;
	max-height: 100%;

}

/* Employees Account and Patient Accounts*/

.table-controls-button{

	display: inline-flex;

	font-weight: 600;
}

.table-controls-search{

	float: right;
	display: inline-flex;
}

.table-wrapper{

	padding: 10px;

	background-color: #1E2746;
}

.table-search{

	width: 200px;
	padding: 2px 2px 2px 10px;

	font-size: 12px;
	background-color: #252F55;
	border: 0px;

}

.table-search-icon{

	margin: 10px 10px 0px 0px;

	color: #A2A1A1;

}

.table-header{

	font-size: 15px;
	font-weight: 600;
	color: #D9D9D9;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{

	background-color: #252F55;
	color: #FFFFFF;

	transition: 0.5s;
}

.table-hover tbody tr td, .table-hover tbody tr th{

	transition: 0.5s;
}

.button-view{

	padding: 3px !important;

	font-size: 20px;
	color: #89E894;

}

.button-view:hover{

	color: #D9D9D9;
}

.button-edit{

	padding: 5px !important;

	font-size: 20px;
	color: #4573DE;

}

.button-edit:hover{

	color: #D9D9D9;

}

.button-delete{

	padding: 3px !important;

	font-size: 20px;
	color: #E31C63;

}

.button-delete:hover{

	color: #D9D9D9;
}


/* Patient Panel */

.consultation-header{

	font-size: 20px;
	font-weight: 600;
	color: #D9D9D9;
}

.consultation-subheader{

	font-size: 16px;
	color: #D9D9D9;
}

.pending-consultation{

	padding: 20px;
	line-height: 0.8;

	background-color: #1E2746;

}

.answered-consultation{

	padding: 20px;
	line-height: 0.8;

	background-color: #1E2746;

}

/* Patient Profile */

.profile{

	padding: 20px;

	background-color: #1E2746;
}

.profile-header{

	font-size: 20px;
	font-weight: 600;
	color: #D9D9D9;
}

.profile-subheader{

	font-size: 16px;
	font-weight: 600;
	color: #D9D9D9;
}

.profile-textbox-label{

	margin: 0px 0px 5px 0px;

	font-size: 14px;
	color: #D9D9D9;

}

.profile-textbox{

	width: 100%;
	margin-bottom: 10px;
	padding: 5px;

	background-color: #181F39;
	color: #D9D9D9;
	border: 1px solid #293458;

	transition: 0.5s;

}

.profile-textbox:focus{

	outline: none;
	border: 2px solid #3D64FF;

	transition: 0.5s;

}

