<template>

	<div id="healthworker-login">
		<input type="text" name="tbHealthworkerUsername" id="tbHealthworkerUsername" class="default-form-textbox" placeholder="Enter healthworker username" v-model="login.username">
		<input type="password" name="tbHealthworkerPassword" id="tbHealthworkerPassword" class="default-form-textbox" placeholder="Enter healthworker password" v-model="login.password" style="margin-bottom: 50px;">
		<button class="default-button" @click="loginEmployee(login)">Login</button>
	</div> 
 
</template>

<script>
import {toast} from '../../assets/toastification/toast'
import {mapActions} from 'vuex';

	export default{
		name: 'healthworker-login',
        mixins: [toast],
		data(){
			return{
				login:{
        			username: '',
        			password: '',
        		},
        		isValidated: false,
        		isLoading: false,
        		emailValid: true,
        		passwordValid: true
			}
		},
		methods:{

			...mapActions('auth', ['loginAccount']),

			async loginEmployee(login){
				const res = await this.loginAccount(login);
  		 		if(res.status == 200){
        			this.emailValid = true
        			this.passValid = true

        			if(res.data.user.designation == 'Health Worker'){
                        this.showSuccessToast('Welcome, ' + res.data.user.name + '!');
        				localStorage.setItem("designation", res.data.user.designation);
        				this.$router.push('/doctors/patient_records')
        			}
        			else{
        				this.showWarningToast('This is not healthworker account!');
        			}
        			
      			}else if(res.status == 401){
					this.passValid = false
        			this.emailValid = false
        			this.showErrorToast('[Error]: Invalid account credentials!');
      			}else{
                    this.showError(res.data);
                }

  			},

            showError(data){
                for (const key of Object.keys(data)) {
                    window.setInterval(this.showErrorToast(data[key][0]), 2000); 
                }
            }
		
		},

		created(){


  		},

  		mounted(){


  		}

	}
</script>