<template>

	<div class="admin-time-sidebar" id="app">
		<div class="dashboard-clock-wrapper">
			<div class="dashboard-clock">
				<p class="date-text">{{ date }}</p>
				<p class="time-text">{{ time }}</p>
			</div>
		</div>
  	</div>

</template>

<script>
import { mapActions, mapState } from 'vuex';

	export default{
		name: 'admin-time-sidebar',
		data(){

			return{

				date: '',
				time: '',

				logins:[]
			}

		},
		filters: {

    		moment: function(date){
        		return moment(date).format('MMMM DD, YYYY')
    		}

  		},
  		methods:{
  			...mapActions('dashboard', ['getDashboardData']),
  			...mapActions('dashboard', ['getRecentLogins']),

  			getDate: function(){

  				const today = new Date();
    			const date = (today.getMonth()+1) + '/' + today.getDate() + '/' + today.getFullYear();
    			this.date = date;
  			},
  			getTime: function(){

  				var self = this;

  				const today = new Date();
    			const time = today.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true})
    			this.time = time;

    			setInterval(self.getTime, 1000);

  			}


  		},
  		mounted: function(){

  			this.getTime();
  		},
  		created(){

  			this.getDate();
  			
  		}		
	}

</script>

