<template>

	<div class="doctors-sidebar" id="app">
		<div class="sidebar-wrapper">
			<div class="sidebar-logo-wrapper" align="center">
				<img :src="'/assets/images/logo_alt.png'" class="sidebar-logo">
			</div>
			<div class="sidebar-content-wrapper" align="center">
				<div class="sidebar-content">
					<router-link to="patient_records">
						<div class="sidebar-button" :class="activePage == 'Patient Records' ? 'active': ''">
							<i class="fa fa-clipboard"></i>
						</div>
					</router-link>
					<router-link to="patient_consultation">
						<div class="sidebar-button" :class="activePage == 'Patient Consultation' ? 'active': ''">
							<i class="fa fa-comment"></i>
						</div>
					</router-link>

					<div class="sidebar-button settings" v-on:click="myid = id, account.id = id" @click="$bvModal.show('accountSettingsModal')">
						<i class="fa fa-cog"></i>
					</div>
				</div>
			</div>
		</div>

		<!-- Account Setting Modal -->

		<b-modal id="accountSettingsModal" class="modal-body" title="Account Settings" hide-footer>
     		<p>Make changes to your account.</p>
     		<div class="default-modal-wrapper">
     			<div class="row">
     				<p class="default-modal-label">Change Username</p>
        	  		<input type="text" name="username" id="username" class="default-modal-textbox" v-model="account.username" autocomplete="off" placeholder="New Username">
      			</div>
      			<div class="row">
      				<p class="default-modal-label">Change Password</p>
        	  		<input type="password" name="password" id="password" class="default-modal-textbox" v-model="account.password" autocomplete="off" placeholder="New Password">
      			</div>
      			<div class="row" style="margin-bottom: 30px;">
      				<p class="default-modal-label">Confirm New Password</p>
        	  		<input type="password" name="repassword" id="repassword" class="default-modal-textbox" autocomplete="off" placeholder="Confirm New Password">
      			</div>
      			<div class="row">
      				<button class="default-button" v-on:click="matchPassword();">Confirm and Save Changes</button>
      			</div>
     		</div>
    	</b-modal>

  	</div>

</template>

<script>
import {toast} from '../../assets/toastification/toast'
import { mapActions, mapState, mapGetters } from 'vuex';

	export default{
		name: 'admin-sidebar',
		mixins: [toast],
		props: {

			activePage: String
		},
		data(){

			return{

				account:{
					id: '',
					username: '',
					password: ''
				},
				myid: ''
			}
		},
		methods:{

			...mapActions('auth', ['logoutUser']),
			...mapActions('employees', ['updateEmployee']),

			matchPassword(){

				var username = document.getElementById("username").value;
				var pass = document.getElementById("password").value;
				var cpass = document.getElementById("repassword").value;

				if(username && pass && cpass){
					if(pass == cpass){
						this.editEmployeeAccount();
					}else{
						this.showErrorToast('[ERROR]: Passwords do not match');
					}
				}else{
					this.showErrorToast('[ERROR]: All of the fields are required');
				}

			},

			async editEmployeeAccount(){
      			const res = await this.updateEmployee({data: {...this.account}, index: this.myid})
      			if(res.status == 201){
					this.showSuccessToast('Your account detail is updated successfully, please login again!');
     		 		this.$bvModal.hide('accountSettingsModal');
     		 		this.logout();

      			}else{
      				this.$bvModal.hide('accountSettingsModal');
      				this.showErrorToast('[ERROR]: There was an error updating your account');

   				}

    		},

    		async logout(){
     			const res = await this.logoutUser()
     			if(res.status == 200){
      				this.$router.push('/staff_login')
                    
     			}
   			},

		},
		computed:{
			...mapState('auth', ['id', 'name']),
		}
	}

</script>


