<template>

	<div class="patient-navbar" id="app">
		<div class="navbar-wrapper">
			<div class="navbar-logo-wrapper" align="center">
				<img :src="'/assets/images/logo_alt.png'" class="navbar-logo">
			</div>
			<div class="navbar-content-wrapper">
				<div class="navbar-content">
					<button class="new-consultation-button" v-on:click="add.patient_id = id" @click="$bvModal.show('newConsultationModal')">
						<i class="fa fa-plus-circle"></i> New Consultation
					</button>
					<router-link to="patient_panel">
						<div class="navbar-button" :class="activePage == 'Consultations' ? 'active': ''">
							<i class="fa fa-comment"></i>
						</div>
					</router-link>
					<router-link to="patient_profile">
						<div class="navbar-button" :class="activePage == 'Patient Profile' ? 'active': ''">
							<i class="fa fa-user"></i>
						</div>
					</router-link>
				</div>
				<div class="navbar-time">
					<p class="navbar-clock">{{ time }}</p>
					<p class="navbar-date">{{ date | moment }}</p>
				</div>
				<div class="navbar-account">
					<p class="navbar-account-name">Hi, {{ firstname }} {{ lastname }}!</p>
					<p v-on:click.prevent="logout" class="logout-button" style="margin-top: 17px;">Logout</p>
				</div>
			</div>
		</div>

		<!-- Account Setting Modal -->

		<b-modal id="newConsultationModal" class="modal-body" title="Add Consultation Ticket" hide-footer>
     		<p>Provide brief details of your health complaint.</p>
     		<div class="default-modal-wrapper">
      			<div class="row" style="margin-bottom: 30px;">
      				<p class="default-modal-label">Brief Details</p>
        	  		<textarea name="consultationDetails" id="consultationDetails" v-model="add.details" class="default-modal-textbox" placeholder="Type here your symptoms/complaints"></textarea>
      			</div>
      			<div class="row">
      				<button class="default-button" v-on:click="addConsultationTicket();">Add Ticket to Queue</button>
      			</div>
     		</div>
    	</b-modal>

  	</div>

</template>

<script>
import moment from 'moment';
import {toast} from '../../assets/toastification/toast';
import { mapActions, mapState, mapGetters } from 'vuex';

	export default{
		name: 'patient-navbar',
    mixins: [toast],
		props: {

			activePage: String
		},
		data(){

			return{

				date: '',
				time: '',
                add:{
                    patient_id: 1,
                    details: '',
                    status: 'Pending'
                },
			}
		},
		filters: {

    		moment: function(date){
        		return moment(date).format('dddd, MMMM DD, YYYY')
    		}

  		},
  		methods:{

  			...mapActions('patientauth', ['logoutUser', 'checkUser']),
            ...mapActions('consultations', ['getPendingConsultations', 'addConsultation']),

			async logout(){
     			const res = await this.logoutUser()
     			if(res.status == 200){
      				this.$router.push('/patient_login')
     			}
   			},

   			async checkAuth() {
     			await this.checkUser()
  			},

  			async loadDashboardData(){
  				await this.getDashboardData()
  			},

            async addConsultationTicket(){
                const res = await this.addConsultation(this.add);
                if(res.status == 201){
                    this.getPendingConsultations();
                    this.$bvModal.hide('newConsultationModal');
                    this.clearAddFields();
                    this.showSuccessToast('Consultation ticket added and queued successfully!');

                }else{
                    this.$bvModal.hide('newConsultationModal');
                    this.showErrorToast('[ERROR]: Please add a detail!');
                }

            },

  			getDate: function(){

  				const today = new Date();
    			const date = (today.getMonth()+1) + '/' + today.getDate() + '/' + today.getFullYear();
    			this.date = date;
  			},
  			getTime: function(){

  				var self = this;

  				const today = new Date();
    			const time = today.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true})
    			this.time = time;

    			setInterval(self.getTime, 1000);

  			},

            clearAddFields() {
                this.add.patient_id = "";
                this.add.details = "";
                this.add.status = "";
            }

  		},
  		mounted: function(){

  			this.getTime();
  		},
  		created(){

  			this.getDate();
  			
  		},
  		computed:{
  			...mapState('patientauth', ['firstname', 'lastname', 'id']),
  		}	
	}

</script>

